[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
python-jose = "*"
boto3 = "*"

[dev-packages]
nose2 = "*"

[requires]
python_version = "3.8"

[packages.aws-xray-sdk]
extras = [ "models",]
version = "*"
