# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\proyectos\lambda_events\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
